@charset "utf-8";

/* 1160 */
@media screen and (min-width:1160px){
  article>div{
    width: 1160px;
  }
  header>div{
    width: 1160px;
  }
  #box01>ul{
    width: 1160px;
  }

  /*  */
}  

@media screen and (min-width:980px) and (max-width:1159px){
  #box01>ul{
    margin-left: -50%;
    width: 100%/* 1160px */;
  }

  /*  */
}


/* 980 */
@media screen and (min-width:580px) and (max-width:979px){
  /* 공통 */
  article h3{
    font-size: 53px;
    margin-bottom: 32px;
  }
  /*  */

  header{
    padding: 28px 0;
  }
  header>div{
    width: 100%;
    display: block;
  }
  header>div>h1{
    text-align: center;
  }
  header>div>h1>a{
    font-size: 35px;
  }
  nav{
    position: fixed;
    left: -400px; top: 0;
    width: 400px;
    height: 100vh;
    background-color: rgba(0,0,50,0.9);
    box-sizing: border-box;
    padding-top: 25vh;
  }
  nav>ul{
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #fff;
  display: block;
  }
  nav>ul>li{
  display: block;
  margin-left: 0;
  border-bottom: 1px solid #fff;
  text-align: center;
  }
  nav>ul>li>a{
    font-size: 20px;
    line-height: 12.5vh;
  }
  nav p.close{
    display: block;

  }

  /* box01 */
  #box01{
    background-size: auto 100%;
  }
  #box01>h3{
    top: 23.31vh;
    font-size: 65px;
  }
  #box01>ul{
    width: 100%;
    bottom: 9.99vh;
    /* bottom: 14.5%; */
    left: 0;
    margin-left: 0;
  }
  #box01>ul>li{
   width: 33.33333vw;
  }
  #box01>ul>li>span{
    width: 26.64vw; height: 26.64vw;
  }

  #box01>ul>li>dl{
   width: 26.64vw;
  }

  /* box02 */
  #box02{
    background-color: #e8e8e8;
  }
  #box02 section.info{
    margin-bottom: 100px;
    display: block;
  }
  #box02 section.info>h4{
    width: 33.3333vw/* 317px */;
    padding-left: 0/* 30px */;
    margin: 0 auto 25px;
  }

  #box02 section.info>ul{
    width: 59.994vw/* 732px */;
    margin: 0 auto;
  }

  #box02 section.info>ul>li{
    padding-left: 0;
    position: static;
    /* line-height: 40px; */
    display: flex;
    flex-wrap: wrap;
  }
  #box02 section.info>ul>li>dfn{
    width: 16.65vw;
    position: static;
  }
  #box02 section.info>ul>li>span{
    display: block;
    width: 43.344vw;
    /* border-bottom: 1px solid #666;
    margin-bottom: 5px; */
  }

  #box02 section.skill{
    display: block;
  }
  #box02 section.skill>h4{
    display: none;
  }
  #box02 section.skill>ul{
    width: 79.92vw/* 630px */;
    margin-bottom: 0;
    margin: 0 auto;
  }
  #box02 section.skill>ul>li{
    padding-left: 148px;
  }

  #box02 section.skill>ul>li>dfn{
    display: block;
    /* line-height: 25px; */
    width: 148px;
    /* position: absolute;
    top: 0; left: 0;
    font-style: normal; */
  }

  /* box03 */

  #box03>#gallery{
    width: 100vw;
    position: relative;
  }
  #box03>#gallery>#show{
    width: 73.26vw;
    margin: 0 auto 10vw;
    overflow: hidden
  }

  #box03>#gallery>#show>#all{
    /* 36.63*6 */
    width: 219.78vw;
  }
  #box03>#gallery>#show>#all>figure{
    width: 36.63vw;
    margin-bottom: 0;
    text-align: center;
  }
  #box03>#gallery>#show>#all>figure>img{
    margin: 0 auto 27px;
    width: 29.97vw;
  }
  #box03>#modal{
    display: none;
  }
  p.prev{
    display: block;
  }
  p.next{
    display: block;
  }

  aside#sub{display: none;}
  aside#top{display: none;}


  /* box04 */

  #box04>div>form{
    width: 93.24vw;
    margin: 0 auto;
    padding-right: 0/* 103px */;
  }

  #box04>div>form>fieldset>ul>li>label{
    display: block;
    padding-left: 0px;
    background: none;
    text-indent: 30px;
  }

  #box04>div>form>fieldset>ul>li:nth-child(2)>label{
    background-image: none;
  }
  #box04>div>form>fieldset>ul>li:nth-child(3)>label{
    background-image: none;
  }
  #box04>div>form>fieldset>ul>li:nth-child(4)>label{
    background-image: none;
  }
  #box04>div>form>fieldset>p>input{
    width: 100%;
    border-radius: 0;
  }
}

  /* 580 */
@media screen and (max-width:579px){
  /* 공통 */
  article{
    padding: 50px 0;
  }
  article>div{
    width: 90vw/* 1160px */;
  }
  article h3{
    font-size: 32px;
    text-align: left;
    margin-bottom: 28px;
  }
  /*  */

  header{
    background-color: rgba(0,0,50,0.9);
  }
  header>div{
    width: 90vw;
    display: block;
  }
  header>div>h1{
    text-align: center;
  }

  /* nav */
  nav{
    position: fixed;
    /* left: 0; */
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,50,0.9);
    z-index: 1100;
    padding-top: 25vh;
    box-sizing: border-box;
  }
    
  nav>ul{
    width: 70vw;
    margin: 0 auto;
    border-top: 1px solid #fff;
    display: block;
  }
  nav>ul>li{
    margin-left: 0;
    display: block;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
  nav>ul>li>a{
    display: block;
    font-size: 20px;
    color: #fff;
    line-height: 12.5vh;
  }

  /* btn */
  header>p.btn{
    display: flex;
  }

  nav p.close{
    display: block;
  }

  /*  */

  /* box01 */

  #box01{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #box01>h3{
    position: static;
    text-align: center;
    margin-bottom: 0;
    font-size: 56px;
    font-weight: bold;
    padding: 0 20px;
    /* box-sizing: border-box; */
    width: auto;
  }
  #box01>ul{
    display: none;
  }

  /* box02 */
  #box02 section.info{
    margin-bottom: 30px;
    display: block;
  }
  #box02 section.info>h4{
    width: 40vw/* 317px */;
    padding-left: 0 /* 30px */;
    margin: 0 auto 30px;
  }
  #box02 section.info>ul{
    width: 80vw/* 732px */;
    margin: 0 auto;
  }

  #box02 section.info>ul>li{
    /* padding-left: 105px; */
    padding-left: 0;
    position: relative;
    line-height: 30px;
  }
  #box02 section.info>ul>li>dfn{
    width: auto;
    position: static;
    font-weight: bold;

  }
  #box02 section.info>ul>li>span{
    display: block;
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
    padding-left: 5vw;
    background-color: rgba(255,255,255,0.2);
  }
  #box02 section.skill{
    display: block;
  }
  #box02 section.skill>h4{
    display: none;
  }
  #box02 section.skill>ul{
    width: 80vw;
    margin-bottom: 0;
    margin: 0 auto;
  }
  #box02 section.skill>ul>li{
    padding-left: 148px;
  }

  #box02 section.skill>ul>li>dfn{
    display: block;
  }

  /* box03 */
  #box03{
    padding-bottom: 50px;
  }
  #box03>h3{
    width: 90vw;
    margin: 0 auto 28px;
  }

  #gallery{
    width: 100vw;
    position: relative;
  }
  p.prev{
    display: block;
    top: 30vw;
  }
  p.next{
    display: block;
    top: 30vw;
  }
  #show{
    width: 60vw;
    margin: 0 auto;
    overflow: hidden;
  }
  #all{
    width: 360vw;
  }

  #box03>#gallery>#show>#all>figure{
    width: 60vw;
    margin-bottom: 0;
  }
  #box03>#gallery>#show>#all>figure>img{
    width: 100%;
    border-radius: 0;
  }

  /* box04 */
  #box04>div>h3{
    width: 90vw;
    margin: 0 auto 28px;
  }
  #box04>div>form{
    width: 80vw;
    padding-right: 0/* 103px */;
    margin: 0 auto;
  }
  #box04>div>form>fieldset>ul>li{
    padding-left: 0;
    margin-bottom: 35px;
    position: relative;
  }
  #box04>div>form>fieldset>ul>li>label{
    color: red;
    display: block;
    left: 20px;
    padding-left: 0;
    background: none;
  }
  #box04>div>form>fieldset>ul>li:nth-child(2)>label{
    background-image: none;;
  }
  #box04>div>form>fieldset>ul>li:nth-child(3)>label{
    background-image: none;;
  }
  #box04>div>form>fieldset>ul>li:nth-child(4)>label{
    background-image: none;;
  }

  #box04>div>form>fieldset>p>input{
    width: 100%;
    border-radius: 0;
  }



  /*  */
  aside#sub{
    display: none;
  }

  aside#top{
    display: none;
  }
 /*  */
}

@media screen and (max-width:980px){
  #modal{
    display: block;
    padding: 6.66vh 5vw 3.33vh;
    box-sizing: border-box;
  }
  #modal>section{
    position: static;
    width: 100%; height: 100%;
    padding: 0;
    margin: 0;
  }
  #modal>section>h4{
    font-size: 6.66vh;
    line-height: 1;
    margin-bottom: 3.33vh;
  }
  #modal>section>div{
    display: block;
  }

  #modal>section>div>figure{
    width: auto;
    height: 43.29vh;
    overflow: hidden;
    margin-bottom: 3.33vh;
  }

  #modal>section>div>figure>figcaption{
    display: none;
  }

  #modal>.close{
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 2.5vw; top: 1.665vh;
  }

  #modal>section>div>dl{
    position: absolute;
    bottom: 6.66vh; left: 10vw;
    width: 80vw;
    margin: 0 auto;
    background-color: pink;
  }
  #modal>section>div>dl>dt{
    clear: none;
    float: none;
    width: auto;
    font-size: 1.5vh;
    margin-bottom: 1.83vh;
    font-weight: bold;
  }
  #modal>section>div>dl>dd{
    float: none;
    width: auto;
    border-bottom: 1px solid #aaa;
    font-size: 1.665vh;
    /* line-height: 4.995vh; */
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  /*  */
}